/* Your code here */
body {
    background-color: #a9d7f6;
    font-family: 'Varela Round', sans-serif;
    color: #639cd9;
    text-shadow: 2px 2px black;
}

h1 {
    font-family: 'Bungee Spice', cursive;
    text-shadow: 2px 2px;
    font-size: 60px;
    text-align: center;
}

div.winOrReset {
    font-family: 'Bungee Spice', cursive;
    text-shadow: 2px 2px;
    font-size: 12px;
    text-align: center;
    margin: 10px 0;
}

div.wrapper {
    display: grid;
    border: none;
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
}

div.wrapper>div {
    display: flex;
    height: 99px;
    width: 99px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #8fb1e9;
}

div.wrapper>div:hover {
    background-color: #a0bce7;
    cursor: pointer;
}

button {
    background-color: #f96d6d;
    border-radius: 10px;
    font-size: 20px;
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
}

button:hover {
    color: white;
    background-color: #b84d69;
    cursor: pointer;
}

p.winner {
    font-size: 20px;
}

p.text {
    font-size: 50px;
    margin: auto;
}

@media only screen and (max-width: 1920px) {
    div.wrapper>div {
        height: 50px;
        width: 50px;
        margin: 2px;
        border-radius: 10px;
        text-shadow: 1px 2px black;
    }
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 40px;
    }

    div.wrapper>div {
        height: 35px;
        width: 35px;
        margin: 1.5px;
    }

    p.text {
        font-size: 25px;
    }
}
